<div class="row hero">
  <div class="col-lg-6 hero-image-container">
    <img class="hero-image" src="./assets/img/hero-banner.svg" alt="Hero">
  </div>
  <div class="col-lg-6 hero-text-container">
    <h1>Need financial support? We got you covered</h1>
    <p>To grow our business whilst investing on communities that we serve and improving the lives of our employees. We strive to provide competitive and innovative financial services to all stakeholders and the society.</p>
    <a [routerLink]="['/apply/personal']" class="btn  btn-lg btn-info">Get started</a>
    <a href="#" class="btn  btn-outline-info btn-lg ">About Us</a>
  </div>
</div>
