<form [formGroup]="bankForm" (ngSubmit)="onSubmit()" >
  <div class="row">
    <div class="col-lg-4"></div>
    <div class="col-lg-4">

      <h1>Bank details</h1>
      <div class="form-group">
        <label for="applicantEmployer">Your Employer</label>
        <input required type="text" class="form-control" id="applicantEmployer" formControlName="applicantEmployer" aria-describedby="applicantEmployer" placeholder="Your Employer">
      </div>

      <button type="submit" class="btn btn-info btn-lg">Submit</button>
      <a [routerLink]="['/apply/personal']" class="btn btn-lg btn-outline-info" style="margin: 12px;">Go back</a>

    </div>
    <div class="col-lg-4"></div>
  </div>
</form>
